.cooperation .site-wrapper {
  @include flex;
  position: relative;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  z-index: 2;
}

.cooperation__description {
  font-size: $body-font-size + 5px;
  line-height: $body-line-height + 10px;
  font-weight: $font-bold;
  text-align: center;
  color: $text-white;
}

.cooperation__link-wrapper {
  margin-bottom: 40px;
}

.cooperation__link {
  @include link;
  @include flex;
  justify-content: center;
  align-items: center;
  font-size: $body-font-size - 3px;
  line-height: $body-line-height - 8px;
  font-weight: $font-bold;
  width: 130px;
  min-height: 30px;
  text-transform: uppercase;
  text-align: center;
  background-color: $button-color;
  border-radius: 5px;
  padding: 5px 15px;

  &:hover {
    background-color: $button-hover;
  }

  &:active {
    background-color: $button-active;
  }
}

@media (min-width: $tablet-width) {
  .cooperation {
    margin-top: 30px;
  }

  .cooperation .site-wrapper {
    width: 580px;
    justify-content: space-between;
  }

  .cooperation__description {
    width: 300px;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .cooperation {
    position: relative;
    background-image: url("../img/overlay.jpg");
    background-position: 0 -290px;
    background-repeat: no-repeat;
    background-size: 100% 909px;
    width: 100%;
    min-height: 218px;
    margin-top: 121px;

    &::before {
      @include pseudo;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($background-color, 0.8);
    }
  }

  .cooperation .site-wrapper {
    width: 1152px;
    justify-content: space-between;
  }

  .cooperation__description {
    font-size: $body-font-size + 25px;
    line-height: $body-line-height + 20px;
    min-width: 570px;
    text-align: left;
    margin-top: 90px;
  }
  
  .cooperation__link {
    font-size: $body-font-size - 1px;
    line-height: $body-line-height - 6px;
    width: 143px;
    min-height: 44px;
    padding: 5px 16px 5px 14px;
  }
}
