.features {
  margin: 50px 0 50px;
}

.features__list {
  @include list;
}

.features__title {
  position: relative;
  font-size: $body-font-size + 15px;
  line-height: $body-line-height + 13px;
  font-weight: $font-bold;
  text-align: right;
  color: $background-color;
  margin-right: 24px;

  &::before {
    @include pseudo;
    top: -11px;
    right: -16px;
    width: 21px;
    height: 6px;
    background-color: $button-color;
  }

  &::after {
    @include pseudo;
    top: -3px;
    right: -25px;
    width: 21px;
    height: 6px;
    background-color: $button-color;
    transform: rotate(90deg);
  }
}

.features__item {
  text-align: center;
}

.features__item-title {
  font-size: $body-font-size + 5px;
  line-height: $body-line-height + 2px;
  font-weight: $font-bold;
  text-transform: uppercase;
  color: $background-color;
  margin-top: 5px;
}

.features__item-description {
  font-size: $body-font-size;
  line-height: $body-line-height;
  font-weight: $font-normal;
  color: $text-grey;
  margin-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .features {
    margin: 50px auto 50px;
  }

  .features__list {
    @include flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
  }

  .features__item {
    width: 250px;
  }

  .features__item-title {
    min-height: 75px;
    margin-bottom: 0;
  }

  .features__item-description {
    text-align: left;
    margin-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .features {
    width: 100%;
    margin: 249px auto 50px;
  }

  .features__title {
    font-size: $body-font-size + 45px;
    line-height: $body-line-height + 40px;
    margin-right: 16.5%;
    margin-bottom: 68px;

    &::before {
      top: -31px;
      right: -48px;
      width: 46px;
      height: 12px;
    }

    &::after {
      top: -14px;
      right: -65px;
      width: 46px;
      height: 12px;
    }
  }

  .features__list {
    justify-content: center;
    width: 70%;
    margin: 0 15.7%;
  }

  /* stylelint-disable */
  :-ms-fullscreen, :root .features__list {
    width: 67%;
  }
  /* stylelint-enable */

  .features__item {
    max-width: 285px;
    min-height: 370px;
    margin-bottom: 20px;
    margin-right: 1.5%;
    margin-left: 1.5%;
    flex-grow: 1;
  }

  .features__item-image {
    margin-bottom: 16px;
    margin-right: 19px;

    &--first {
      width: 142px;
      height: 146px;
      margin-top: 5px;
      margin-right: 63px;
    }

    &--second {
      width: 160px;
      height: 150px;
      margin-right: 21px;
    }

    &--third {
      width: 150px;
      height: 150px;
    }

    &--fourth {
      width: 132px;
      height: 139px;
      margin-right: 41px;
      margin-bottom: 13px;
    }

    &--fifth {
      width: 191px;
      height: 127px;
      margin-top: 9px;
    }

    &--sixth {
      width: 210px;
      height: 108px;
      margin-top: 28px;
    }
  }

  .features__item-title {
    font-size: $body-font-size + 3px;
    line-height: $body-line-height;
    min-height: 20px;
    text-align: left;
    margin: 5px 0 3px;
    letter-spacing: -0.4px;
  }

  .features__item-description {
    font-size: $body-font-size;
    line-height: $body-line-height;
  }
}
