.features {
  margin: 50px 0 50px;
}

.features__list {
  @include list;
}

.features__title {
  position: relative;
  font-size: $body-font-size + 15px;
  line-height: $body-line-height + 13px;
  font-weight: $font-bold;
  text-align: right;
  color: $background-color;
  margin-right: 24px;

  &::before {
    @include pseudo;
    top: -11px;
    right: -22px;
    width: 21px;
    height: 6px;
    background-color: $button-color;
  }

  &::after  {
    @include pseudo;
    top: -3px;
    right: -31px;
    width: 21px;
    height: 6px;
    background-color: $button-color;
    transform: rotate(90deg);
  }
}

.features__item {
  text-align: center;
}

.features__item-title {
  font-size: $body-font-size + 5px;
  line-height: $body-line-height + 2px;
  font-weight: $font-bold;
  text-transform: uppercase;
  color: $background-color;
  margin-top: 5px;
}

.features__item-description {
  font-size: $body-font-size;
  line-height: $body-line-height;
  font-weight: $font-normal;
  color: $text-grey;
  margin-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .features {
    width: 580px;
    margin: 50px auto 50px;
  }

  .features__list {
    @include flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 580px;
  }

  .features__item {
    width: 260px;
  }

  .features__item-title {
    min-height: 75px;
    margin-bottom: 0;
  }

  .features__item-description {
    text-align: left;
    margin-top: 0;
  }
}
