@media (min-width: 0) and (max-width: 959px) {
  .main-navigation .site-wrapper {
    @include flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 1px;
  }

  .main-navigation__button {
    position: relative;
    width: 50px;
    height: 24px;
    margin: 20px 40px 20px 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .main-navigation__wrapper {
    width: 100%;
    box-shadow: 0 -1px $shadow-color;
    margin-bottom: 1px;
  }

  //  стили для js гл.меню

  .main-navigation--closed .main-navigation__button {
    &::before,
    &::after {
      @include pseudo;
      right: 0;
      width: 50px;
      height: 4px;
      background-color: #ffffff;
    }

    &::before {
      top: 21px;
      box-shadow: 0 -10px 0 0 #ffffff;
    }

    &::after {
      top: 1px;
      box-shadow: none;
    }

    &:hover::before,
    &:hover::after {
      background-color: $button-color;
    }

    &:hover::before {
      box-shadow: 0 -10px 0 0 $button-color;
    }

    &:active::before,
    &:active::after {
      background-color: rgba($button-color, 0.3);
    }

    &:active::before {
      box-shadow: 0 -10px 0 0 rgba($button-color, 0.3);
    }
  }

  .main-navigation--opened .main-navigation__button {
    width: 20px;

    &::before,
    &::after {
      @include pseudo;
      top: 10px;
      right: -4px;
      width: 30px;
      height: 4px;
      background-color: #ffffff;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(135deg);
    }

    &:hover::before,
    &:hover::after {
      background-color: $button-color;
    }

    &:active::before,
    &:active::after {
      background-color: rgba($button-color, 0.3);
    }
  }

  .main-navigation--closed {
    position: relative;
    min-height: 66px;
    box-shadow: 0 1px $shadow-color;
    margin-bottom: -94px;
    z-index: 2;
  }

  .main-navigation--opened,
  .main-navigation--nojs {
    position: relative;
    min-height: 200px;
    background-color: $background-color;
    margin-bottom: -78px;
    z-index: 2;
  }

  .main-navigation--nojs {
    margin-bottom: 0;
  }

  .main-navigation--closed .main-navigation__logo-link {
    margin: 16px 0 14px 20px;
  }

  .main-navigation--opened .main-navigation__logo-link,
  .main-navigation--nojs .main-navigation__logo-link {
    margin: 16px 0 14px 20px;
  }

  .main-navigation--closed .main-navigation__wrapper {
    display: none;
  }

  .main-navigation--nojs .main-navigation__wrapper {
    display: block;
  }

  .main-navigation--nojs .main-navigation__button {
    display: none;
  }
}

@media (min-width: $tablet-width) and (max-width: 959px) {
  .main-navigation__logo-link img {
    width: 70px;
    height: 80px;
  }

  //  стили для js гл.меню
  .main-navigation--closed {
    min-height: 110px;
    margin-bottom: -127px;
  }

  .main-navigation--opened,
  .main-navigation--nojs {
    margin-bottom: -116px;
  }

  .main-navigation--closed .main-navigation__logo-link,
  .main-navigation--opened .main-navigation__logo-link {
    margin: 18px 0 18px 40px;
  }

  .main-navigation--closed .main-navigation__button {
    margin: 12px 40px 0 0;
  }

  .main-navigation--opened .main-navigation__button {
    margin: 12px 40px 0 0;
  }
}

@media (min-width: $desktop-width) {
  .main-navigation {
    @include flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 1152px;
    min-height: 108px;
    margin: 0 auto;
    padding: 28px 0 29px;
  }

  .main-navigation .site-wrapper {
    width: inherit;
  }

  .main-navigation__logo-link {
    margin: 27px 0 auto 2px;
  }

  .main-navigation__logo-link img {
    width: 76px;
    height: 100px;
  }

  .main-navigation__button {
    display: none;
  }
}
