@media (min-width: 0) and (max-width: 959px) {
  .main-header {
    color: $text-white;
    min-height: 66px;
  }
}

@media (min-width: $tablet-width) and (max-width: 959px) {
  .main-header {
    min-height: 110px;
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    background-image: url("../img/background.png");
    background-color: $background-color;
    background-position: 4px -49px;
    padding-bottom: 50px;
    background-size: 100% 876px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/background@2x.png");
      background-size: 100% 876px;
      background-position: 5px -48px;
    }
  }

  /* stylelint-disable */
  :-ms-fullscreen, :root .main-header {
    background-position: 0 -49px;
  }
  /* stylelint-enable */
}
