.main-footer {
  font-size: $body-font-size - 1px;
  line-height: $body-line-height + 2px;
  font-weight: $font-normal;
  background-color: $footer-color;
  color: $text-white;
  padding-top: 50px;
}
