.offers {
  position: relative;
  background-image: url("../img/background.png");
  background-color: $background-color;
  background-position: 0 0;
  padding: 95px 0 30px;
  z-index: 1;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/background@2x.png");
    background-size: 1600px 876px;
    background-position: 0 0;
  }

  &::before {
    @include pseudo;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 115px;
    background-image: linear-gradient(to right top, #ffffff 50%, transparent 50%);
  }

  &::after {
    @include pseudo;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 115px;
    background-image: linear-gradient(to left top, #ffffff 50%, transparent 50%);
  }
}

.offers input[type="radio"] {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.offers__buttons {
  @include flex;
  position: absolute;
  bottom: 130px;
  left: 50%;
  width: 120px;
  height: 20px;
  margin: 0 auto;
  transform: translateX(-50%);
}

.offers__buttons label {
  position: relative;
  width: 17px;
  height: 19px;
  margin: auto;
  fill: transparent;
  stroke: $text-white;
  stroke-width: 2px;
  cursor: pointer;
  transition: 0.3s;
}

.offers__add {
  @include flex(flex, column);
  justify-content: center;
  align-items: center;
  width: 200px;
  min-height: 50px;
  margin: 0 auto;
}

.offers__add-description {
  font-size: $body-font-size - 4px;
  line-height: $body-line-height - 6px;
  font-weight: $font-bold;
  text-align: center;
  text-transform: uppercase;
  margin: 10px auto;
}

.offers__add-button {
  @include flex;
  position: relative;
  width: 41px;
  height: 45px;
  border: none;
  margin: 0 auto;
  background-color: transparent;
  z-index: 1;
  cursor: pointer;

  &::before {
    @include pseudo;
    top: 9px;
    left: 10px;
    width: 12px;
    height: 12px;
    border: 4px solid $button-color;
    background-color: transparent;
    clip: rect(5px auto auto 5px);
    transform: rotate(45deg);
  }

  &:hover::before {
    border-color: $button-hover;
  }

  &:active::before {
    border-color: $button-active;
  }
}

.offers__add-button svg {
  position: relative;
  top: -5px;
  left: 50%;
  width: 17px;
  height: 18px;
  fill: transparent;
  stroke: $button-color;
  stroke-width: 1px;
  transform: scale(2.5) translateX(-19%);
  margin-top: 11px;
  z-index: 2;

  &:hover {
    stroke: $button-hover;
  }

  &:active {
    stroke: $button-active;
  }
}

/* stylelint-disable */
_:-ms-fullscreen, :root .offers__add-button svg {
  top: 3px;
}
/* stylelint-enable */

//стили для управления первым слайдером на мобильном
.offers input[type="radio"]:nth-of-type(1):checked ~ .offers__buttons label[for="first-slider-first-button"],
.offers input[type="radio"]:nth-of-type(2):checked ~ .offers__buttons label[for="first-slider-second-button"],
.offers input[type="radio"]:nth-of-type(3):checked ~ .offers__buttons label[for="first-slider-third-button"] {
  transform: scale(1.3);
  fill: $button-color;
  stroke: transparent;
}

.offers input[type="radio"]:nth-of-type(1):checked:hover ~ .offers__buttons label[for="first-slider-first-button"],
.offers input[type="radio"]:nth-of-type(2):checked:hover ~ .offers__buttons label[for="first-slider-second-button"],
.offers input[type="radio"]:nth-of-type(3):checked:hover ~ .offers__buttons label[for="first-slider-third-button"] {
  fill: $button-color;
}

.offers input[type="radio"]:nth-of-type(1):hover ~ .offers__buttons label[for="first-slider-first-button"],
.offers input[type="radio"]:nth-of-type(2):hover ~ .offers__buttons label[for="first-slider-second-button"],
.offers input[type="radio"]:nth-of-type(3):hover ~ .offers__buttons label[for="first-slider-third-button"] {
  fill: $text-white;
}

.offers input[type="radio"]:nth-of-type(1):checked:active ~ .offers__buttons label[for="first-slider-first-button"],
.offers input[type="radio"]:nth-of-type(2):checked:active ~ .offers__buttons label[for="first-slider-second-button"],
.offers input[type="radio"]:nth-of-type(3):checked:active ~ .offers__buttons label[for="first-slider-third-button"] {
  fill: $button-color;
}

.offers input[type="radio"]:nth-of-type(1):active ~ .offers__buttons label[for="first-slider-first-button"],
.offers input[type="radio"]:nth-of-type(2):active ~ .offers__buttons label[for="first-slider-second-button"],
.offers input[type="radio"]:nth-of-type(3):active ~ .offers__buttons label[for="first-slider-third-button"] {
  fill: rgba($text-white, 0.5);
}

.offers input[type="radio"]:nth-of-type(1):focus ~ .offers__buttons label[for="first-slider-first-button"],
.offers input[type="radio"]:nth-of-type(2):focus ~ .offers__buttons label[for="first-slider-second-button"],
.offers input[type="radio"]:nth-of-type(3):focus ~ .offers__buttons label[for="first-slider-third-button"] {
  border-radius: 50%;
  box-shadow: 0 0 0 1px gold;
}

.offers input[type="radio"]:nth-of-type(1):checked ~ .offers__wrapper .offers__list {
  transform: translateX(0);
}

.offers input[type="radio"]:nth-of-type(2):checked ~ .offers__wrapper .offers__list {
  transform: translateX(-320px);
}

.offers input[type="radio"]:nth-of-type(3):checked ~ .offers__wrapper .offers__list {
  transform: translateX(-640px);
}

@media (min-width: $tablet-width) {
  .offers {
    padding: 150px 0 30px;
  }

  //стили для управления первым слайдером на планшете
  .offers input[type="radio"]:nth-of-type(1):checked ~ .offers__wrapper .offers__list {
    transform: translateX(0);
  }

  .offers input[type="radio"]:nth-of-type(2):checked ~ .offers__wrapper .offers__list {
    transform: translateX(-660px);
  }

  .offers input[type="radio"]:nth-of-type(3):checked ~ .offers__wrapper .offers__list {
    transform: translateX(-1320px);
  }
}

@media (min-width: $desktop-width) {
  .offers {
    background-image: none;
    background-color: transparent;
    color: $text-white;
    padding: 0;

    &::before {
      bottom: -50px;
      height: 248px;
    }

    &::after {
      bottom: -50px;
      height: 248px;
    }
  }

  .offers__buttons {
    bottom: 61.1%;
    right: -42%;
    transform: rotate(90deg);
  }

  .offers__buttons label {
    margin: 0 10px 0 9px;
    transform: rotate(30deg) scale(0.88);
  }

  .offers__add-description {
    font-size: $body-font-size;
    line-height: $body-line-height - 4px;
    margin-top: 18px;
    margin-bottom: 21px;
  }

  .offers__add-button {
    width: 70px;
    height: 70px;

    &::before {
      top: 6px;
      left: 17px;
      width: 24px;
      height: 25px;
      border: 5px solid $button-color;
      clip: rect(15px auto auto 15px);
      transform: rotate(52deg) skewY(-14deg);
    }
  }

  .offers__add-button svg {
    top: 0;
    left: 37%;
    height: 19px;
    margin-top: 0;
    transform: scale(3.9);
  }

  /* stylelint-disable */
  _:-ms-fullscreen, :root .offers__add-button svg {
    top: 23px;
  }
  /* stylelint-enable */

  .offers input[type="radio"]:nth-of-type(1):checked ~ .offers__buttons label[for="first-slider-first-button"],
  .offers input[type="radio"]:nth-of-type(2):checked ~ .offers__buttons label[for="first-slider-second-button"],
  .offers input[type="radio"]:nth-of-type(3):checked ~ .offers__buttons label[for="first-slider-third-button"] {
    transform: rotate(30deg) scale(1.2);
  }

  // стили для управления первым слайдером на десктопе
  .offers input[type="radio"]:nth-of-type(1):checked ~ .offers__wrapper .offers__list {
    transform: translateX(0);
  }

  .offers input[type="radio"]:nth-of-type(2):checked ~ .offers__wrapper .offers__list {
    transform: translateX(-660px);
  }

  .offers input[type="radio"]:nth-of-type(3):checked ~ .offers__wrapper .offers__list {
    transform: translateX(-1320px);
  }
}
