.product {
  position: relative;
  text-align: left;
  margin-bottom: 24px;
  padding-top: 20px;
  z-index: 2;
}

.product__wrapper {
  margin: 0 20px;
}

.product__title {
  font-size: $body-font-size + 15px;
  line-height: $body-line-height + 13px;
  font-weight: $font-bold;
  color: $text-white;
  margin-bottom: 0;
}

.product__description {
  font-size: $body-font-size;
  line-height: $body-line-height;
  font-weight: $font-normal;
  color: $text-white;
  margin-right: 30px;
}

.product__link-wrapper {
  margin-top: 20px;
  margin-bottom: 30px;
}

.product__link {
  @include link;
  @include flex;
  justify-content: center;
  align-items: center;
  font-size: $body-font-size - 3px;
  line-height: $body-line-height - 8px;
  font-weight: $font-bold;
  width: 130px;
  min-height: 10px;
  text-transform: uppercase;
  text-align: center;
  background-color: $button-color;
  border-radius: 5px;
  margin-right: auto;
  padding: 15px 15px;

  &:hover {
    background-color: $button-hover;
  }

  &:active {
    background-color: $button-active;
  }
}

.product__video-wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .product__wrapper {
    margin: 0 40px;
  }

  .product__video-wrapper {
    width: 90%;
  }
}

@media (min-width: $desktop-width) {
  .product {
    @include flex;
    align-items: center;
    width: 83.5%;
    margin: 120px auto 0;
  }

  .product .site-wrapper {
    width: 40%;
  }

  .product__wrapper {
    width: 95%;
    margin: 0 27px 16%;
  }

  .product__title {
    font-size: $body-font-size + 25px;
    line-height: $body-line-height + 22px;
    color: $background-color;
  }

  .product__description {
    color: $text-grey;
    letter-spacing: -0.1px;
    margin: 10px 42px 15px 5px;
  }

  .product__link-wrapper {
    margin: 28px 0 0 3px;
  }

  .product__link {
    font-size: $body-font-size - 1px;
    line-height: $body-line-height - 6px;
    width: 143px;
    padding: 20px 16px 18px 14px;
  }

  .product__video-wrapper {
    width: 55%;
    margin-left: 5%;
  }
}
