.product {
  position: relative;
  text-align: left;
  padding-top: 20px;
  z-index: 2;
}

.product__wrapper {
  margin: 0 20px;
}

.product__title {
  font-size: $body-font-size + 15px;
  line-height: $body-line-height + 13px;
  font-weight: $font-bold;
  color: $text-white;
  margin-bottom: 0;
}

.product__description {
  font-size: $body-font-size;
  line-height: $body-line-height;
  font-weight: $font-normal;
  color: $text-white;
  margin-right: 30px;
}

.product__link-wrapper {
  margin-top: 20px;
  margin-bottom: 30px;
}

.product__link {
  @include link;
  @include flex;
  justify-content: center;
  align-items: center;
  font-size: $body-font-size - 3px;
  line-height: $body-line-height - 8px;
  font-weight: $font-bold;
  width: 130px;
  min-height: 10px;
  text-transform: uppercase;
  text-align: center;
  background-color: $button-color;
  border-radius: 5px;
  margin-right: auto;
  padding: 15px 15px;

  &:hover {
    background-color: $button-hover;
  }

  &:active {
    background-color: $button-active;
  }
}

.product__video-wrapper {
  position: relative;
}

.product__video {
  @include flex;
  width: 90%;
  height: 252px;
  margin: 0 auto;
}

  /* stylelint-disable */
  :-ms-fullscreen, :root .product__video {
  width: 320px;
  height: 200px;
}
 /* stylelint-enable */

.product__video-inner-wrapper {
  position: absolute;
  text-align: center;
  top: 89px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

/* stylelint-disable */
:-ms-fullscreen, :root .product__video-inner-wrapper {
  top: 60px;
  min-width: 300px;
}
 /* stylelint-enable */

.product__video-button {
  background-image: url("../img/icon-play.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 60px 60px;
  background-color: transparent;
  width: 60px;
  height: 60px;
  border: none;
  cursor: pointer;
}

.product__video-description {
  font-family: "Raleway", "Arial", sans-serif;
  text-transform: uppercase;
  min-width: 200px;
  color: $text-white;

  &--first {
    font-size: $body-font-size - 6px;
    line-height: $body-line-height - 14px;
    font-weight: $font-semibold;
    margin: 10px 0 0;
  }

  &--second {
    font-size: $body-font-size;
    line-height: $body-line-height;
    font-weight: $font-extrabold;
    margin: 5px 0 0;
  }
}

@media (min-width: $tablet-width) {
  .product__wrapper {
    margin: 0 40px;
  }

  .product__video-inner-wrapper {
    top: 123px;
  }
  
  .product__video {
    width: 580px;
    height: 360px;
  }

  /* stylelint-disable */
  :-ms-fullscreen, :root .product__video {
    width: 576px;
    height: 360px;
  }
   /* stylelint-enable */

  /* stylelint-disable */
  :-ms-fullscreen, :root .product__video-inner-wrapper {
    top: 120px;
    min-width: 570px;
  }
 /* stylelint-enable */

  .product__video-description {
    &--first {
      font-size: $body-font-size + 1px;
      line-height: $body-line-height - 4px;
    }
  
    &--second {
      font-size: $body-font-size + 10px;
      line-height: $body-line-height + 6px;
    }
  }
}

@media (min-width: $desktop-width) {
  .product {
    @include flex;
    width: 1326px;
    margin: 120px auto 0;
  }

  .product__wrapper {
    margin: 102px 22px 0;
  }

  .product__title {
    font-size: $body-font-size + 25px;
    line-height: $body-line-height + 22px;
    color: $background-color;
  }
  
  .product__description {
    font-size: $body-font-size;
    line-height: $body-line-height;
    color: $text-grey;
    letter-spacing: -0.1px;
    margin: 10px 75px 15px 5px;
  }

  .product__link-wrapper {
    margin: 28px 0 0 3px;
  }

  .product__link {
    font-size: $body-font-size - 1px;
    line-height: $body-line-height - 6px;
    width: 143px;
    min-height: 10px;
    padding: 20px 16px 18px 14px;
  }

  .product__video {
    width: 724px;
    height: 452px;
  }

  /* stylelint-disable */
  :-ms-fullscreen, :root .product__video {
    width: 724px;
    height: 452px;
  }
   /* stylelint-enable */

  .product__video-inner-wrapper {
    min-width: 504px;
    top: 168px;
  }

  /* stylelint-disable */
  :-ms-fullscreen, :root .product__video-inner-wrapper {
    top: 168px;
    min-width: 710px;
  }
 /* stylelint-enable */

  .product__video-button {
    background-size: 86px 86px;
    width: 86px;
    height: 86px;
  }

  .product__video-description {
    &--first {
      font-size: $body-font-size;
      line-height: $body-line-height - 8px;
      letter-spacing: 2.4px;
      margin: 15px 0 0;
    }
  
    &--second {
      font-size: $body-font-size + 17px;
      line-height: $body-line-height + 12px;
      letter-spacing: 3.5px;
      margin: 14px 0 0;
    }
  }
}
