.site-list {
  @include flex($flex-direction: column);
  @include list;
}

.site-list__item {
  box-shadow:
    0 1px $shadow-color;
}

.site-list__link {
  @include flex;
  @include link;
  justify-content: center;
  font-size: $body-font-size + 4px;
  line-height: $body-line-height + 8px;
  font-weight: $font-bold;
  text-transform: uppercase;
  padding: 16px 0;
  width: 100%;

  &:hover {
    color: $button-color;
  }

  &:active {
    color: $button-color;
    opacity: 0.3;
  }

  &:active:not([href]) {
    opacity: 1;
  }

  &--active {
    color: $button-color;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    @include flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 720px;
    margin: 39px 0 2px auto;
  }

  .site-list__item {
    margin-left: 24px;
    box-shadow: none;
  }

  .site-list__link {
    font-size: $body-font-size - 1px;
    line-height: $body-line-height + 6px;
    font-weight: $font-bold;
    letter-spacing: 0.5px;
    color: $text-white;
    padding: 5px 3px 0;

    &:not([href]) {
      color: $text-white;
    }

    &:hover {
      color: $button-color;
    }

    &:hover:not([href]) {
      color: $text-white;
    }

    &:active {
      color: $button-color;
      opacity: 0.3;
    }

    &:active:not([href]) {
      opacity: 1;
    }

    &--active {
      box-shadow: 0 3px 0 -1px $button-color;
    }
  }
}
