.social {
  font-family: "Myriad Pro", "Arial", sans-serif;
  width: 90%;
  background-color: $text-white;
}

@media (min-width: $tablet-width) {
  .social {
    width: 580px;
  }
}

@media (min-width: $desktop-width) {
  .social {
    width: 26%;
    margin-right: 9.2%;
  }
}
