$font: "Open Sans", "Arial", sans-serif;
$font-normal: 400;
$font-light: 300;
$font-bold: 700;
$body-font-size: 14px;
$body-line-height: 24px;
$color-light: rgb(40, 54, 69);
$color-dark: rgb(29, 38, 49);
$background-color: #f2f2f2;
$background-header: rgba(0, 0, 0, 0.3);
$text-white: white;
$text-pink: #d22856;
$mobile-width: 320px;
$tablet-width: 660px;
$desktop-width: 960px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
