$font: "Proxima Nova", "Arial", sans-serif;
$font-normal: 400;
$font-semibold: 600;
$font-bold: 700;
$font-extrabold: 800;
$body-font-size: 15px;
$body-line-height: 22px;
$button-color: #ff8b00;
$background-color: #7050e5;
$footer-color: #363636;
$footerdown-color: #252525;
$text-white: white;
$text-grey: #878787;
$mobile-width: 320px;
$tablet-width: 660px;
$desktop-width: 960px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
